<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/add.css">
    <link href="../static/css/Bender.ttf" rel="stylesheet" >
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Unbounded&display=swap" rel="stylesheet">
</head>
<body >
    <div class='title-add'>Налоговая инспекиция</div>
    <div class='lform-add'>

        <div class='name-add'>Добавить расход</div>
        <div class="form-add">
            <form action="" method="post">
                <div class="in-add">
                    <label for="value"><b>Размер</b></label>
                    <input name="value" type="text" placeholder="сумма" required="required" />
                </div>
                <div class="in-add">
                    <label for="country"><b>Страна назначения</b></label>
                    <input name="country" type="text" placeholder="страна" required="required" />
                </div>
                <div class="in-add">
                    <label for="desc"><b>Комментарий</b></label>
                    <input name="desc" type="text" placeholder="комментарий" required="required" />
                </div>

                <button type="submit" class="custom-btn btn-7">Добавить</button>
            </form>
        </div>    
    </div>
</body>
</html>