<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/add.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Unbounded&display=swap" rel="stylesheet">
</head>
<body>
	<div class='title-add'>Налоговая инспекиция</div>
	<div class='lform-add'>
        <div class='name-add'>Подробнее о расходе</div>
        <div class="form-add">
			<div class="in-add">
		    Код: {{expense['id']}}
		    </div>
		    <div class="in-add">
		    Сумма: {{expense['value']}}
		    </div>
		    <div class="in-add">
		    Описание: {{expense['description']}}
		    </div>
		    <div class="in-add">
		    Страна: {{expense['country']}}
			</div>
			<form action="" method="post">
	    		<button name="delete" value="delete" class="custom-btn btn-7">Удалить</button>
			</form>
		</div>	
	</div>	
</body>
</html>