<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/start.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Unbounded&display=swap" rel="stylesheet">
    <link href="../static/css/Bender.ttf" rel="stylesheet" >
</head>
<body >
<div class='title-main'>
    <h1>Налоговая инспекиция</h1>
</div>
<div class='main-main'>
	<div class='left-main'>
		<div class='newstitle-main'>
			Новости
		</div>
		<div class='news-main'>
			· МНС информирует о вводе с 1 января 2023 года специального налогового режима для физических лиц – налога на профессиональный доход
			<br><br>
			· Порядок создания (корректировки) электронных счетов-фактур при внесении изменений в электронные накладные
			<br><br>
			· МНС: 211,9 тыс.рублей подоходного налога уплачено организацией в бюджет по результатам камеральной проверки
			<br><br>
			· Элла Селицкая встретилась с учениками старших классов ГУО «Средняя школа № 206 г. Минска»
			<br><br>
			· О результатах квалификационного экзамена у лиц, претендующих на получение квалификационного аттестата налогового консультанта
		</div>
	</div>
	<div class='right-main'>
		<div class='lktitle-main'>
			Личный кабинет
		</div>	
		<div class='login-main'>
			<a href="/login" >Войти</a>
			<br><br><br><br><br>
			<a href="/signup" role="button">Зарегистрироваться</a></div>
		<div сlass="hui">
			
			
		</div>
		
	</div>


	
</div>
<div class="bottom-mian"></div>

</body>
</html>
    

